<div class="center">
<h1>Sign up</h1>

  <%= form_for @user do |u| %>
  <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
       <li><%= message %></li>
      </div>
            <% end %>
          </ul>
        </div>
      <% end %>
    <div class="field">
      <%= u.label :username %> <br>
      <%= u.text_field :username %> <br>
    </div>
    <div class="field">
      <%= u.label :email %><br>
      <%= u.text_field :email %> <br>
    </div>
    <div class="field">
      <%= u.label :phone %><br>
      <%= u.text_field :phone %> <br>
    </div>
    <div class="field">
      <%= u.label :password %><br>
      <%= u.text_field :password %> <br>
    </div>
    <div class="field">
      <%= u.label :password_confirmation %><br>
      <%= u.text_field :password_confirmation %> <br>
    </div>
    <div class="actions">
      <%= u.submit "Save"%><br>
    </div>
    </div>
<% end %>
