
    <div class="dropdown">
      <%= form_for @reservation do |f| %>
      <%= f.select(:people, Home::CLASS_PEOPLE) %>
      <%= f.date_field :time %>
      <%= f.select(:hour, Home::CLASS_HOUR) %>
      <%= f.submit "Search" %>
      <% end %>
    </div>
