<div class="center">

<%= link_to 'New Search', new_search_path %>

  <h1>List of Restaurants</h1><br><br>

<% @restaurants.each do |rest|  %>

  <p>
    <b>Name:</b> <%= link_to rest.name, restaurant_path(rest) %> <br>
    <b>Category:</b> <%= rest.category %> <br>
    <b>Price Range:</b> <%= rest.price %> <br>
    <b>Capacity:</b> <%= rest.capacity %><br>
    <b>ID Num of DB</b> <%= rest.id %><br>
    <b>Location:</b><%= rest.city %><br>
  </p>
    <%= link_to 'Show', restaurant_path(rest) %> | <%= link_to 'Edit', edit_restaurant_path(rest) %> | <%= link_to 'Delete', rest, method: :delete, data: {confirm: "Are you sure about that?!?!"} %><br><br><br>
<% end %>

</div>
