
<h1><%= @restaurant.name %></h1>

<p>
  Category: <%= @restaurant.category %><br>
  Capacity: <%= @restaurant.capacity %><br>
  Price: <%= @restaurant.price %><br>
  Location: <%= @restaurant.city %><br>
</p>

<%= link_to 'Make a Reservation Here', new_restaurant_reservation_path(@restaurant) %>

<h3>Our Reservations List:</h3>

<table>
    <tr>
      <th><b>Date and Time</b></th>
      <th><b>Guests</b></th>
      <th><b>Customer</b></th>
    </tr>
  <% @restaurant.reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.time %></td>
      <td><%= reservation.people %></td>
      <td><%= reservation.user.username %></td>
    <tr>
  <% end %>
</table>

<%= link_to 'Back to Restaurants', restaurants_path %>

<!-- search -->

<% if @search.search_restaurants.empty? %>
  <p>No Record Founded! </p>
<% else %>
  <% @search.search_restaurants.each do |c| %>
    <br />
    <div class="field">
      <p>Name: <%= c.name %></p>
      <p>Category: <%= c.category %></p>
      <p>Price: <%= c.price %></p>
      <p>Capacity: <%= c.capacity %></p>
      <p>Location: <%= c.city %></p>
      <%= link_to 'Make a Reservation Here', new_restaurant_reservation_path(c, search_id: @search) %>
    </div>
    <% end %>
<% end %>
