<div class="center background-home">
  <div class="content-center">
<div class="logo">
<!-- Insert the logo png -->
</div>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


  <h1 class="words">Find a Table</h1>
  <%= form_tag @search do |s| %>

    <div class="field">
      <p class="words"><%= s.label :time %></p>
      <p><%= s.date_field :time %></p>
    </div>

    <div class="field">
      <p class="words"><%= s.label :hour %></p>
      <p><%= s.select :hour, 4..11 %></p>
    </div>

    <div class="field">
      <p class="words"><%= s.label :people %></p>
      <p><%= s.text_field :people %></p>
    </div>

    <div class="field">
      <p class="words"><%= s.label :category %></p>
      <p><%= s.select :category, options_for_select(@categories), :include_blank => true %></p>
    </div>

    <div class="field">
      <p class="words"><%= s.label :min_price, "Min Price" %></p>
      <p><%= s.number_field :min_price %></p>
      <p class="words"><%= s.label :max_price, "Max Price" %></p>
      <p><%= s.number_field :max_price %></p>
    </div>

    <div class="field">
      <p class="words"><%= s.label :location %></p>
      <p><%= s.text_field :location %></p>
    </div>

    <div class="actions">
      <p><%= s.submit "Search"%></p>
    </div>

    <% end %>
    <p id="backbutton"><%= link_to "See All Restaurants", restaurants_path %></p>

    </div>
</div>
